.ingredients-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
  
      .ingredients-list__dots {
        flex-grow: 1;
        border-bottom: 1px dotted #000;
        margin: 0 10px;
      }
    }
  }