
@import "../base/variables";
.nav {
    background-color: $color-primary;
    padding: $padding-base;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: $border-radius;

    &__nav {
      gap: 2rem; 
    }
    &__list {
      display: flex;
      list-style: none;  
      padding: 0;
      margin: 0;
    }
    &__item {
      
      & a {
        color: $color-white;
        text-decoration: none;
        padding: $padding-base;
        font-size: $font-size-base;
        font-weight: 500;
        transition: color 0.3s;
  
        &:hover {
          color: darken-color($color-white, 10%); 
        }
      }
    }
  }
  /* Responsividad */
@media (max-width: 768px) {
  .nav {
    align-items: center;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .nav__item {
    display: block;
    margin: 10px 0;
  }
}